body 
.footer  {
   position: fixed;
   bottom: 0;
   width: 100%;
   color: black;
   text-align: center;
  
}
.role{
margin: 13px;
}
.role-section{
  margin-bottom: 20px;
  
}

.flex-container {
  display: flex;
  flex-wrap: nowrap;
justify-content: space-evenly;
}

.flex-container > p {
  
  text-align: center;
  font-size: 16px;
}
  
.footer img {
  width: 75px;
  height: 100%;
  padding: 10px 10px;
}
div {
  display:inline-block;
}

.header img {
  width: 75px;
  padding: 10px 10px;
  float: left;
}

.nav a {
    float: left;
    display: block;
    color: rgb(0, 0, 0);
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}
.footer a {
    float: left;
    display: block;
    color: rgb(0, 0, 0);
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}
.nav a:hover {
  background-color: rgb(0, 0, 0);
  color:rgb(173, 140, 186);
}
{
			font-family: Andale Mono, monospace;
		}

		* {
			box-sizing: border-box;
		}

		input[type=text],
		select,
		textarea {
			width: 100%;
			padding: 12px;
			border: 1px solid #ccc;
			border-radius: 4px;
			box-sizing: border-box;
			margin-top: 6px;
			margin-bottom: 16px;
			resize: vertical;
		}

		input[type=submit] {
			background-color: #ac8cba;
			color: white;
			padding: 12px 20px;
			border: none;
			border-radius: 4px;
			cursor: pointer;
		}
		

		.container {
			border-radius: 5px;
			background-color: #ffffff;
			padding: 20px;
		}
.btn {
  background-color: #ac8cba;
			color: white;
			padding: 12px 20px;
			border: none;
			border-radius: 4px;
			cursor: pointer;
      text-decoration: none;

}

body {
  background-image: url('ii.png');